@font-face{
    font-family: 'Product Sans';
    src:url('fonts/ProductSans-Regular.woff') format('woff');
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 2.8rem;
    background-color: black;
}

.navbar h1 {
    text-align: center;
    font-family: 'Product Sans';
    color:white;
}

.content {
    font-family: 'Product Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5.2em;
    margin-right: 5.2em;
    margin-top: 6em;
}